{% extends 'base.html' %} 
{% load static %}
{% block title %} maadili ya msingi{% endblock %}
{%  block content %}


<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      
        <div class="d-flex justify-content-between align-items-center">
          <h2>maadili</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>maadili</li>
          </ol>
        </div>

      </div>
            <section id="hero" style="height:400px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide1.jpg' %});">
          <div class="carousel-container">
          </div>
        </div>
</section>
</section>
<center><h2 >Maadili Yetu Ya Msingi </h2><center>
<p style="text-align:left; padding:20px">

Maadili ni yale tunayoona kuwa muhimu na yenye thamani. Maadili Msingi yanayoshikiliwa kawaida ni ufunguo wa umoja na ndio msingi ambao shughuli zote lazima zitegemewe. Paulo anatuhimiza tuwe "na nia moja" na "mmoja katika roho na kusudi" (Flp. 2: 2). Tumejitolea kukuza na kufuata maadili ya Ufalme wa Kibiblia. Maadili yafuatayo yanafafanua sisi ni kina nani na tumejitolea nini:

Yesu Kristo - Sisi Ni Kanisa La Kikristo

Utu wa Yesu Kristo ni msingi wa yote tunayofanya na kupitia Yeye tuna uhusiano na Mungu Baba na Roho Mtakatifu.

Biblia - Sisi ni Kanisa La Kuzingatia Biblia

Tumejitolea kwa Biblia kama Neno la Mungu na mamlaka yetu ya mwisho kwa utawala na mazoezi. 

Huduma ya Roho Mtakatifu - sisi ni kanisa lililojazwa na Roho

Tunaamini kwamba kila Mkristo anapaswa kukuza tunda la Roho na kutafuta kutumia karama za Roho kwa faida ya wengine.
</p>



</main>
{% endblock %}