{% extends 'base.html' %} 
{% load static %}
{% block title %} Misheni{% endblock %}
{%  block content %}


<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      
        <div class="d-flex justify-content-between align-items-center">
          <h2>Misheni</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Misheni</li>
          </ol>
        </div>

      </div>
      <section id="hero" style="height:400px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide1.jpg' %});">
          <div class="carousel-container">
          </div>
        </div>
</section>
</section>
<center><h2 >Misheni yetu </h2><center>
<p style="text-align:left; padding:20px; background-color:#b8c9e6">

Kudumisha na kutekeleza imani na mwenendo wa Kipentekoste na kutangza Injili kuanzia Tanzania kwa njia zote halali na za kisasa kwa mujibu wa amri ya utume ya Yesu Kristo, Kanisa la mahali litakuwa kiini cha huduma na ushuhuda(Mk.16;15; Math 28:19-20) 

Kutoa huduma za jamii  kwa kushirikiana na Serikali kama vile Elimu,Afya,Utunzaji wa Watoto yatima, kutoa huduma kwa walemavu na wasiojiweza na kujihusisha na maafa mbalimbli kwa kuzingatia uwiano na haki pasipo upendeleo wa jinsia au eneo(Math.25:34-40)

Kuangaza Nuru ya Mungu na kuwatia moyo waliokata tamaa ili kudhihirisha upendo na utukufu wa   Mungu na kuwafungua waliofungwa katika hofu.(Isa.60:1-2)

Kukuza ufahamu wa Mungu katika Maisha ya watu kwqa njia ya Yesu Kristo, aliye kweli, uzima na ufufuo. Kufundisha Biblia, kufanya semina  na Mikutao ya Injili na kutambua huduma tano za kanisa la   Yesu Kristo(Efe.4:11-12)

Kutumia karama zote za kiroho, vifaa na mali za kanisa kwa ajili ya ufalme wa Mungu. (1Kor.12:4-11)

Kubuni miradi ya uchumi itakayoendeleza kanisa kwa kuzingatia sera ya kuhifadhi mazingira na kuhusisha kanisa la mahali na wananchi wenyewe kwa kuhusisha kanisa la mahali naa wananchi kwa ujumla

Kudumisha mahusiano muhimu baina ya FPCT na makanisa au mashirika mengine ya Wamishonari katika nchi za Scandinavia nan chi zingine, pamoja na kuendeleza ushirikiano katika huduma za jamii na utafutaji wa misaada kwa makusudi hayo.FPCT itapokea misaada yoyote au mikopo au ruzuku kwa madhumuni yanayohusiana na katiba hii.

 i</p>



</main>
{% endblock %}