{% extends 'base.html' %} 
{% load static %}
{% block title %} sifa && mziki{% endblock %}
{%  block content %}


<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      
        <div class="d-flex justify-content-between align-items-center">
          <h2>sifa na mziki </h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>sifa_mziki</li>
          </ol>
        </div>

      </div>
</section>
<center><h2 >Idara ya sifa na mziki </h2><center>
<p> karibu vijana na watoto katika idara, idara iko tayari 
kufundisha watoto na vijana maadili</p>



</main>
{% endblock %}