{% extends 'base.html' %} 
{% load static %}
{% block title %} Tehama au Media {% endblock %}
{%  block content %}


<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      
        <div class="d-flex justify-content-between align-items-center">
          <h2>Tehama/Media</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Tehama/Media</li>
          </ol>
        </div>

      </div>
</section>
<center><h2 >Idara ya Tehama au Media  </h2><center>
<p> karibu vijana na watoto katika idara, idara iko tayari 
kufundisha watoto na vijana maadili</p>
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{% static 'assets/img/slide/blog-3.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="tehama.html">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
              </h2>

              <div class="entry-content">
                <p>
                  Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                  Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
               </div> 
               
            </div> 
            
          </div> 
          
        </div> 
      
      </div> 
    
    </div> 
    </section>
</main>
{% endblock %}