{% extends 'base.html' %} 
{% load static %}
{% block title %}Tunachoamini{% endblock %}
{%  block content %}


<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      
        <div class="d-flex justify-content-between align-items-center">
          <h2>Tunachoamini</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Tunachoamini</li>
          </ol>
        </div>

      </div>
    <section id="hero" style="height:400px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide1.jpg' %});">
          <div class="carousel-container">
          </div>
        </div>
</section>
</section>
<center><h2 >Tunachokiamini </h2><center>
<p style="text-align:left; padding:20px"> 
Sisi tunaamini, Mungu wa kweli ni mmoja,ambaye amejifunua katika Nafsi Tatu; Baba,Mwana na Roho Mtakatifu,ndiye anayestahili kuabudiwa na kutukuzwa na kila kiumbe yeye  peke yake.(Math.3:16-17;Efe.4:6)

Kwamba Yesu Kristo amekuwepo kabla ya viumbe vyote kuumbwa, nay u mwana pekee wa Mungu aliye hai; na alikuwa Neno;naye Neno alikuwako kwa Mungu; naye alikuwa Mungu aishiye milele(Yoh.1:1-2);Wakol.1:17)

Kwamba vitu vyote viliumbwa kwa njia ya Yes una kwa ajili yake;na kwamba hakuna kilichoumbwa pasipo yeye ()Yoh. 1:3; Wakol.1:16)

Kwamba Yesu Kristo alitwaa mwili akawa mwanadamu, kwa uweza wa Roho Mtakatifu, ili maandiko yatimie, kwa ajili ya ukombozi kwa_wanadamu kutoka dhambini ili wapate wokovu wa kweli kupitia kifo chake cha dhamana msalabani(Math.1:21-23; Yoh.1:29).

Kwamba Yesu Kristo alijitoa dhabihu timilifu juu ya Msalaba, akazikwa,akafufuka siku ya tatu kutoka wafu, kwamba alipaa mbinguni na ameketi katika Utukufu,mkono wa kulia wa Baba; na kwamba ameingia ndani ya Patakatifu pa Patakatifu ambako anawaombea na kuwatakasa watakatifu wake; na kwamba atarudi tena kulichukuwa au  kulitwaa kanisa kama yanenavyo maandiko, yaani Neno la Mungu.</br></br></br>

 

Kwamba wokovu ni katika jina la Yesu Kristo pekee, unaopatikana kwqa kumwamwini Yesu na kukiri Jina lake na kwa njia ya damu ya Yesu Kristo; pia kwamba wokovu sio dini, bali ni tukio la kumpokea Yesu, ambaye huishi ndani ya waaminio, ambao ndio kusanyiko la watu waliojazwa  Roho Mtakatifu na kufanyika kaisa lililojengwa katika msingi wa Mitume na manabii na kwamba Yesu Kristo mwenyewe ndiye Kichwa cha kanisa na jiwe kuu la Msingi(Mdo.4:12;Yoh.3:18;36;Rum.10:10)

Kwamba Bibi ani neon la Mungu lililo hai, na linafaa kwa Imani,maonyo, katika kurekebishana na kwa mafundisho ya Haki, na kwa kutia nguvu (2Tim.3:16-17)

Kwamba Roho Mtakatifu kutoka mbinguni alwajaza siku ya Pentekoste, na anaendelea kufanya kazi hiyo sasa katika wale wanaompokea Yesu Kristo mkazi ndani yao, kama Bwana wa Maisha yao; na kwamba Roho Mtakatifu ndiye anayehuisha nyoyo za wanadamu watiifu, na kuwaleta kwenye wokovu ndani ya Kristo (Mdo.2:38-39)
</br></br></br>


Kwamba ubatizo wa Roho Mtakatifu ni tukio la kweli wakati au baada ya kupokea wokovu, likiambatana na dhihirisho la kunena kwa ligha kama Roho Mtakatifu anavyomjalia mtu;(Mdo 2:1-4;8:14-17;10:44-46;Gal.3:14-15)

Kwamba Roho Mtakatifu anawawezesha waamini kutumia karama za Roho Mtakatifu kama inavyoelezwa katika 1Kor.12-14 na kama zilivyodhihirika wakati wa kanisa la kwanza.

Katika umoja wa Kanisa la           Kristo,linalojengwa katika Roho wa Kristo katika kusanyiko la waaminio waliozaliwa mara ya pili na umoja wa Kanisa unaosimama katika misingi sahihi ya sifa za Ukristo ambazo ni toba liletalo wokovu,na thibitisho la ubatizo wa maji mengi unaochukua nafasi ya kuzikwa pamoja na Kristo, sawa sawa na Injili ya Kristo;(Rum 6:3-4)

Kwamba kila kanisa la mahali chini ya FPCT lina uhuru wa kujiongoza, chini ya Baraza halali la wazee lililoundwa kwa msingi wa Biblia.(Mdo.20:28;1Pet 5:1-3)

Katika uponyaji wa mwili kwa nguvu za Mungu kama inavyoelezwa katika agano jipya(Mdo.4:30;Rum8:11;1Kor 12:9;Yak.5:14)

Kwamba Shetani amewekewa adhabu ya milele katika ziwa la moto ulioandaliwa kwa ajili yake na malaika zake (Mat 25:41;Ufu 20:14,15)

Katika uzima wa milele kwa waaminio(Mark 9:43-48;2Thes.1:9;Uf.20:10-15)

Kwamba Serikali imewekwa na Mung una mamlaka zilizopo ni watumishi wa Mngu ckwa ajili yam ema(Rum 13:1-4)


</p>



</main>
{% endblock %}